:root {
    --primary-color: #4a44f2;
    --background-footer: #282f3a;
    --background-copy: #252b36;
    --text-color: #464b52;
    --titile-color: #393e46;
    --desc-color: #6a727f;
    --footer-text: #a0a8b5;
    --open-font: 'Open Sans', sans-serif;
    --rale-font: 'Raleway', sans-serif;
    --mont-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--open-font);
    font-size: 16px;
}

.wrapper {
    max-width: 1920px;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}